<head>
<title>MORAX | About us</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/css/style.css" rel="stylesheet" type="text/css" />
<link href="/css/layout.css" rel="stylesheet" type="text/css" />
<script src="/js/jquery-1.4.2.min.js" type="text/javascript"></script>
<script src="/js/cufon-yui.js" type="text/javascript"></script>
<script src="/js/cufon-replace.js" type="text/javascript"></script>
<script src="/js/Kozuka_Gothic_Pro_OpenType_300.font.js" type="text/javascript"></script>
<script src="/js/Kozuka_Gothic_Pro_OpenType_500.font.js" type="text/javascript"></script>
<!--[if lt IE 7]>
<link href="css/ie.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/ie_png.js"></script>
<script type="text/javascript">ie_png.fix('.png');</script>
<![endif]-->
</head>
<body id="page2">
<!-- START PAGE SOURCE -->
<div id="header" class="small">
  <div class="container">
    <ul class="nav">
      <li class="item1"><a href="index">home</a></li>
      <li class="item2"><a href="about-us" class="current">about us</a></li>
      <li class="item3"><a href="articles">articles</a></li>
      <li class="item4"><a href="contact-us">contact us</a></li>
      <li class="item5"><a href="login">log in</a></li>
    </ul>
    <div class="logo-box">
      <h1><a href="index"><strong>MORAX</strong></a></h1>
      <h2>Time management application for you</h2>
    </div>
    <img src="images/small-model.png" alt="" class="png extra-img"/> </div>
</div>
<div id="content">
  <div class="container">
    <div class="indent">
      <div class="wrapper">
        <div class="mainContent">
          <h2><span>About</span> MORAX</h2>
          <p>A desktop application (for now) that can be used to manage your time by keeping everything in track. It also helps you to track your events, meetings and many more. It shows everything in an orderly fashion with the dates as well. The user can create new events and tasks as they wish.</p>
          <div class="img-box"> <img src="images/2page-img1.jpg" alt="" /> <a href="#"><a href="https://www.academyoflearning.com/blog/time-management-golden-key-success/">Efficiently managing your time, can be the key to your success -Wayne Gretsky-</a> was said by none other than the revered leader, business magnate and author of the BEST selling business book "Somehow I Manage" (Over a billion copies sold. Even more than the bible), Micheal Gary Scott.</a> So let it be if you're planning to write a book or cook some chilli or plan a trip to Jamaica with your boss, you absolutely need to plan everything ahead and make sure you have enough time for it. Furthermore, it is interesting to ponder why it is we, as humans in an advanced society, would prefer to use significantly more words to get our menial points across to other people when, clearly, if one were to use much fewer words in their speech, they could get their point across just as well as when they used so many more words. So, why waste time say lot word when few word do trick?  </div>
          Now you might think that at best, you could only save microscopic amount of time. We at MORAX, inhibit and spread the sigma grindset mindset. So think of it this way. Many small time make big time. With all time saved, you see world (not to be confused with sea world), oceans, fish, jump, China. People might think that you are dumb but when you president, THEY SEE!</div>
        <div class="aside">
          <div class="box1">
            <div class="top">
              <div class="bottom">
                <div class="inner">
                  <h3>Our Team</h3>
                  <ul class="img-list">
                    <li> <img src="images/img3.jpg" alt="" />
                      <h4><a href="#">Jordan "The plank" Planchot</a></h4>
                      Backend developer </li>
                    <li> <img src="images/img4.jpg" alt="" />
                      <h4><a href="#">Mehrad "RAD AF" Hassanpour</a></h4>
                      Backend developer </li>
                    
                    <li> <img src="images/img4.jpg" alt="" />
                      <h4><a href="#">Zackary "Levi" Mowbray</a></h4>
                      Backend developer </li>
                    <li> <img src="images/img3.jpg" alt="" />
                      <h4><a href="#">Sashti "Slim Shady" Prasad</a></h4>
                      Frontend developer </li>
                    <li class="last"> <img src="images/img5.jpg" alt="" />
                      <h4><a href="#">Zoli "The jolly" Digness</a></h4>
                      Database setup </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="footer">
  <div class="container">
    <div class="inside">
    </div>
  </div>
</div>
<script type="text/javascript">Cufon.now();</script>
<!-- END PAGE SOURCE -->
</body>
</html>
