<head>
<title>MORAX | About us</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/css/style.css" rel="stylesheet" type="text/css" />
<link href="/css/layout.css" rel="stylesheet" type="text/css" />
<script src="/js/jquery-1.4.2.min.js" type="text/javascript"></script>
<script src="/js/cufon-yui.js" type="text/javascript"></script>
<script src="/js/cufon-replace.js" type="text/javascript"></script>
<script src="/js/Kozuka_Gothic_Pro_OpenType_300.font.js" type="text/javascript"></script>
<script src="/js/Kozuka_Gothic_Pro_OpenType_500.font.js" type="text/javascript"></script>
<!--[if lt IE 7]>
<link href="css/ie.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/ie_png.js"></script>
<script type="text/javascript">ie_png.fix('.png');</script>
<![endif]-->
</head>
<body id="page2">
<!-- START PAGE SOURCE -->
<div id="header" class="small">
  <div class="container">
    <ul class="nav">
      <li class="item1"><a href="index">home</a></li>
      <li class="item2"><a href="about-us" class="current">about us</a></li>
      <li class="item3"><a href="articles">articles</a></li>
      <li class="item4"><a href="contact-us">contact us</a></li>
      <li class="item5"><a href="login">log in</a></li>
    </ul>
    <div class="logo-box">
      <h1><a href="index"><strong>MORAX</strong></a></h1>
      <h2>Time management application for you</h2>
    </div>
    <img src="images/small-model.png" alt="" class="png extra-img"/> </div>
</div>
<div id="content">
  <div class="container">
    <div class="indent">
      <div class="wrapper">
        <div class="mainContent">
          <h2><span>About</span> MORAX</h2>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
          <div class="img-box"> <img src="images/2page-img1.jpg" alt="" /> <a href="#">Nemo enim ipsam voluptatem quia voluptas sit</a> aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore aliquam. </div>
          Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto. </div>
        <div class="aside">
          <div class="box1">
            <div class="top">
              <div class="bottom">
                <div class="inner">
                  <h3>Our Team</h3>
                  <ul class="img-list">
                    <li> <img src="images/img3.jpg" alt="" />
                      <h4><a href="#">Jordan Planchot</a></h4>
                      Backend developer </li>
                    <li> <img src="images/img4.jpg" alt="" />
                      <h4><a href="#">Mehrad</a></h4>
                      Backend developer </li>
                    
                    <li> <img src="images/img4.jpg" alt="" />
                      <h4><a href="#">Zackary</a></h4>
                      Backend developer </li>
                    <li> <img src="images/img3.jpg" alt="" />
                      <h4><a href="#">Sashti Prasad</a></h4>
                      Frontend developer </li>
                    <li class="last"> <img src="images/img5.jpg" alt="" />
                      <h4><a href="#">Zoli</a></h4>
                      Database setup </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="footer">
  <div class="container">
    <div class="inside">
    </div>
  </div>
</div>
<script type="text/javascript">Cufon.now();</script>
<!-- END PAGE SOURCE -->
</body>
</html>