.root {
    -fx-background-color: White;
}


.label {
    -fx-font-size: 12pt;
    -fx-font-family: "Arial Black";
    -fx-font-smoothing-type: always;

}

.list-view {
    -fx-background-color: #fffbbf;
    -fx-border-color: #0d2a0d;
}

.button {
    -fx-background-color: #fffc00;
}

.label {
    -fx-text-fill: #7e5400;
}

.menu-bar {
    -fx-background-color: #ffbc1a;
}




