.root {
    -fx-background-color: linear-gradient(from 41px 34px to 500px 500px, #8ef2ff, #fff3d6);
}

.label {
    -fx-font-size: 16pt;
    -fx-font-family: "Arial Black";
    -fx-font-smoothing-type: always;

}

.list-view {
    -fx-background-color: #FFF3D6FF;
}
